/* ?---Tablet Version--- */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    } 

/** ---Header--- */
.mob-menu-opn {
    display: none;
}

.header {
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo {
    margin-right: 120px;
}

.header-menu {
    display: flex;
    gap: 40px;
}

.head-address {
    display: flex;
}

.head-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.head-address-link {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

/** ---Solution--- */
    .solution {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
        url(../images/hero-bg-tab.jpg);

    
   }
@media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
     .solution {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
        url(../images/hero-bg-tab-2x.jpg);
     }
 }
     .solution-title {
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        max-width: 496px;
        margin-bottom: 36px;

     }

/* *---Benefits--- */
    .benefits-item {
        width: calc((100% - 24px) / 2);
    }

    .benefits-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

/* *---Team--- */
    .team > .container {
        max-width: 584px;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }

    .team-list>li {
        width: calc((100% - 24px) / 2);
    }

/**--- Customers--- */
    .customers-list {
        gap: 72px 24px;
    }

    .customers > .container {
        max-width: 584px;
    }

    .customer-list-icon {
        width: 104px;
    }

    .customers-list-item {
        width: calc((100% - 48px) / 3);
    }   

/* *---Footer--- */
    .footer {
        padding: 96px 0;
    }

    .footer > .container {
        max-width: 584px;
    }

    .footer-form {
        display: flex;
        gap: 24px;
    }

    .footer-input {
        width: 264px;
    }

    .fotter-text-one {
        text-align: left;
    }

    .footer-logo {
        justify-content: flex-start;
    }

    .footer-btn-sub {
        margin: 0;
    }

    .footer-input {
        margin: 0;
    }

    .footer-container {
        align-items: normal;
        flex-wrap: wrap;
        gap: 72px 24px;
        flex-direction: row;
    }

}




/*?--- Desktop Version--- */
@media screen and (min-width: 1158px) {
    .container,
    .customers > .container,
    .footer > .container,
    .team > .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

/** ---Header--- */
    .header {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .logo {
        margin-right: 76px;
    }

    .header-menu-item {
        padding-bottom: 27px;
    }

    .head-address-list {
        flex-direction: row;
        gap: 40px;
    }

/** ---Solution--- */
    .solution {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
        url(../images/hero-bg.jpg);
        padding-top: 188px;
        padding-bottom: 188px;

}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .solution {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
        url(../images/hero-bg-2x.jpg);
    }

    .solution-title {
        margin-bottom: 48px;
    }
}

/* *---Benefits--- */
    .benefits {
        padding-top: 120px;
        padding-bottom: 120px;
    }

     .benefits-list {
        display: flex;
        gap: 24px;
    }

    .benefits-item {
        width: calc((100% - 24px * 3) / 4);
    }

    .benefits-block {
        width: 264px;
        height: 112px;
        border-radius: 4px;
        background-color: var(--light-color);
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .benefits-subtitle {
        color: var(--dark-color);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-transform: none;
        text-align: left;
    }  

    .benefits-text {
        color: var(--dark-color);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

/* *---What We Doing--- */
    .doing {
        display: flex;
    }

/** ---Team--- */
    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-list > li {
        width: calc((100% - 24px * 3) / 4);
    }

    .team-list {
        flex-wrap: nowrap;
        gap: 24px;
    }




/* *---Customers--- */
    .customers {
        padding: 120px 0;
    }

    .customers-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .customers-list-item {
         width: calc((100% - 24px * 5) / 6);
    }

/* *---Footer--- */
    .footer {
        padding: 100px 0;
    }

    .footer-container {
        align-items: baseline;
        justify-content: space-between;
        flex-wrap: nowrap;
    }


    .footer-text {
        margin: 0;
    }

    .footer-list-container {
        margin-bottom: 0;
    }

    .footer-top-container {
        margin-right: 120px;
    }

    .footer-input {
        opacity: 1;
    }

    .footer-input::placeholder {
        opacity: 1;
    }



}   