/* ?---Tablet Version--- */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    } 

/* *---Benefits--- */
    .benefits-item {
        width: calc((100% - 24px) / 2);
    }

    .benefits-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

/**--- Customers--- */
    .customers-list {
        gap: 72px 24px;
    }

    .customers > .container {
        max-width: 584px;
    }

    .customer-list-icon {
        width: 104px;
    }

    .customers-list-item {
        width: calc((100% - 48px) / 3);
    }   

/* *---Footer--- */

}
/*?--- Desktop Version--- */
@media screen and (min-width: 1158px) {
    .container,
    .customers > .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

/* *---Benefits--- */
    .benefits {
        padding-top: 120px;
        padding-bottom: 120px;
    }

     .benefits-list {
        display: flex;
        gap: 24px;
    }

    .benefits-item {
        width: calc((100% - 24px * 3) / 4);
    }

    .benefits-block {
        width: 264px;
        height: 112px;
        border-radius: 4px;
        background-color: var(--light-color);
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .benefits-subtitle {
        color: var(--dark-color);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-transform: none;
        text-align: left;
    }  

    .benefits-text {
        color: var(--dark-color);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

/* *---Customers--- */
    .customers {
        padding: 120px 0;
    }

    .customers-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .customers-list-item {
         width: calc((100% - 24px * 5) / 6);
    }

/* *---Footer--- */

}   