:root {
    --dark-color: #2E2F42;
}

:root {
    --text-color: #434455;
}

:root {
    --primary-brand-color: #4D5AE5;
}

:root {
    --white-color: #FFFFFF;
}

:root {
    --pressed-state-color: #404BBF;
}

:root {
    --light-color: #F4F4FD;
}

:root {
    --accent-color: #E7E9FC;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--white-color);

}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}


.body-medium {
    color: var(--dark-color); 
    font-weight: 500; 
    font-size: 16px ;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}

.body-small {
  font-size: 16px; 
  line-height: 1.5; 
  letter-spacing: 0.02em;
}

.button-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: inherit;
}

.header-three {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.header-two {
    color: var(--dark-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

p, h1, h2, h3, h4, h5 {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* *-----Header----- */
.logo {
    color:  var(--primary-brand-color);
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
}

.logo-accent {
    color: var(--dark-color);
}

.logo:hover,
.logo:focus {
    color: var(--pressed-state-color);
}

.header-menu-item:hover,
.header-menu-item:focus {
    color: var(--pressed-state-color);
}
.head-address {
    font-style: normal;
}

.head-address-link {
    color: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-address-link:hover,
.head-address-link:focus {
    color: var(--pressed-state-color);
}

.header {
    border-bottom: 1px solid var(--accent-color);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-menu {
    display: flex;
    gap: 40px;
}

.head-address-list {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-menu-item {
    padding-top: 24px;
    padding-bottom: 28px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    position: relative;
    color: var(--pressed-state-color);
}

.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--pressed-state-color);
    bottom: -1px;
    left: 0;

}

/** ------Solution------ */
.solution {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--dark-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 188px;
    padding-bottom: 188px;
}

.solution-title {
    color: var(--white-color);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.solution-btn {
    border: none;
    color: var(--white-color);
    cursor: pointer;
    background-color: var(--primary-brand-color);
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: block;
    margin: 0 auto;
    min-width: 169px;
    min-height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solution-btn:hover,
.solution-btn:focus {
    background-color: var(--pressed-state-color);
}


/* *-------Benefits------- */
.benefits {
    padding-top: 120px;
    padding-bottom: 120px;
}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-subtitle {
    margin-bottom: 8px;
}

.benefits-item {
    width: calc((100% - 24px * 3) / 4);
}

.benefits-block {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color: var(--light-color);
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* *------- Doing-------- */
.doing {
    padding-bottom: 120px;
}

.doing-list {
    display: flex;
    gap: 24px;
}

.doing-title {
    margin: 0 auto;
    margin-bottom: 72px;
}

.doing-item {
    width: calc((100% - 24px * 2) / 3);
}


/* *--------Team----------- */
.team {
    background-color: var(--light-color);
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-subtitle {
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    text-align: center;
    margin-bottom: 8px;
}

.team-list > li {
    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 24 * 3) / 4);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-title {
    margin-bottom: 72px;
}

.team-list-container {
    padding: 32px 0;
}

.team-list-item {
    width: 40px;
    height: 40px;
}

.team-list-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--primary-brand-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}


.team-list-social {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-list-icon {
    fill: #F4F4FD;
}

.team-list-link:is(:hover, :focus) {
    background-color: var(--pressed-state-color);
}

/* *-------Customers------ */
.customers {
    padding: 120px 0;
}

.customers-title {
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    gap: 24px;
}

.customer-list-icon {
    fill: #8E8F99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
}

.customers-list-link {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    color: #8E8F99;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:is(:hover, :focus) .customer-list-icon {
    fill: currentColor;
}

.customers-list-link:is(:hover, :focus) {
    border-color: var(--pressed-state-color);
    color: var(--pressed-state-color);
}

/* *---------Footer--------- */
.footer {
    background-color: var(--dark-color);
    padding: 100px 0;

}

.footer-logo {
    color: var(--primary-brand-color);
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    color: var(--light-color);
    width: 264px;
}

.footer-logo-accent {
    color: var(--light-color);
}

.fotter-text-one{
    color: var(--white-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.footer-list-container {
    display: flex;
    flex-direction: column;
}

.footer-list {
    display: flex;
    gap: 16px;
}

.footer-top-container {
    margin-right: 120px;
}

.footer-list-item {
    width: 40px;
    height: 40px;
}

.footer-icon-link {
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:is(:hover, :focus) {
    background-color: #31D0AA;
}

.footer-list-icon {
    fill: #F4F4FD;
}

.footer-input {
    color: var(--white-color);
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--white-color) ;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    outline: transparent;
    padding-left: 16px;
    
}

.footer-input::placeholder {
    color: var(--white-color);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.04em;
}

.footer-btn-sub {
    min-width: 165px;
    min-height: 40px;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--primary-brand-color);
    border: none;
    color: var(--white-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn-sub:is(:hover, :focus) {
    background-color: var(--pressed-state-color);
}

.footer-input-icon {
    fill: currentColor;
    margin-left: 16px;
}

.footer-form {
    display: flex;
    gap: 24px;
}


/* *--------Portfolio-------- */
.btn-list > li > button {
    color: var(--primary-brand-color);
    cursor: pointer;
    text-align: center;
    background-color: var(--light-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.btn-list > li > button:hover,
.btn-list > li > button:focus {
    background-color: var(--pressed-state-color);
    color: var(--white-color);
    border-color: transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.img-text {
    color: var(--text-color);
}

.img-link > p:hover,
.img-link > p:focus {
    color: var(--pressed-state-color);
}

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.btn-list {
    display: flex;
    margin-bottom: 72px;
    gap: 24px;
    justify-content: center;
}

.portfolio-btn {
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--accent-color);
}

.img-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.img-subtitle {
    margin-bottom: 8px;
}

.img-list-item {
    width: calc((100% - 24px * 2) / 3);
    border: 1px solid var(--accent-color);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-link:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);

}

.img-list-container {
    padding: 32px 16px;
    border: 1px solid var(--accent-color);
    border-top: none;
}

.img-link:is(:hover, :focus) .cover-text {
    transform: translateY(0);
}

.img-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand-color);
    color: var(--light-color);
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.cover-text-container {
    position: relative;
    overflow: hidden;
}

/* *--------Modal-------- */
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scaleX(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleX(3);
}

.modal-close-btn {
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: var(--accent-color);
    border: 1px solid rgba(0, 0, 0, 0.10);
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-close-btn:is(:hover, :focus) {
    background-color: var(--pressed-state-color);
    border: none;

}

.icon-close {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:is(:hover, :focus) .icon-close {
    fill: #FFFFFF;
    }

.modal-title {
    width: 100%;
    height: 24px;
    margin-bottom: 16px;
    text-align: center;
}

.modal-label {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    display: block;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    outline: transparent;
    color: var(--dark-color);
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: var(--primary-brand-color);
}

.modal-input:focus + .modal-input-icon {
    fill: var(--primary-brand-color);
}

.modal-field {
    margin-bottom: 8px;
}

.modal-subfield {
    position: relative;
}

.modal-input-icon {
    fill: var(--dark-color);
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
    width: 100%;
    height: 120px;
    resize: none;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    outline: transparent;
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    padding: 8px 16px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-textarea:focus {
    border-color: var(--primary-brand-color);
}

.textarea-field {
    margin-bottom: 16px;
}

.modal-send-btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    min-height: 56px;
    padding: 16px 32px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: var(--white-color);
    background: var(--primary-brand-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn:is(:hover, :focus) {
    background-color: var(--pressed-state-color);
}

.agreement-container {
    margin-bottom: 24px;
}

.agreement-label {
    color: #8e8f99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    }

.agreement-link {
    color: var(--primary-brand-color);
}

.checkbox-span {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-input:checked + .agreement-label .checkbox-span {
    background-color: var(--pressed-state-color);
    border: none;
    fill: var(--light-color);
}